body{
	font-family:'Microsoft Yahei';
}

/*
    聊天首页
*/
.main-wrap{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*background-color: #84a42b;*/

}

.header{
    height: 2.5rem;
    background-color: #272636;
    text-align: center;
    position: relative;

}

.header h2{

    color: white;
    font:20px/2.5rem 'Microsoft Yahei';
}

.header .add{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.6rem;
    height: 1.6rem;
    background: url("../images/add.png") left top no-repeat;
    background-size: 1.6rem 1.6rem;

}



.center-wrap{
    position: absolute;
    left: 0;
    right: 0;
    top: 2.5rem;
    bottom: 2.5rem;
    background-color: #efefef;
    overflow-x: hidden;
    overflow-y: auto;

}


.center-wrap .search{
    /*margin: 0.35rem auto 0;*/
    text-align: center;
    height: 2rem;
    position: relative;
    border-bottom: 0.025rem solid #cdcdcd;

}

.center-wrap .search input{
    outline: 0;
    border-radius: 0.18rem;
    padding: 0.1rem;
    width: 94%;
    border: 0.02rem solid #cdcdcd;
    margin-top: 0.35rem;

    font-size: 16px;



}

.center-wrap .search label{
    position: absolute;
    top: 0.4rem;
    left: 7.8rem;
    font-size: 0.8rem;
    color: #8a8a8a;
    background: url("../images/search.png") left top no-repeat;
    background-size: 1rem 1rem;
    text-indent: 1.3rem;

}

.center-wrap .chat-item{
    height: 2.4rem;
    padding: 0.3rem 0;
    margin-left: 0.3rem;

    border-bottom: 0.05rem solid #cdcdcd;

}

.center-wrap .chat-item img{
    float: left;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 0.3rem;
}





.center-wrap .chat-item h3{
    float: left;
    font-size: 18px;

}

.center-wrap .chat-item .msg{
    float: left;
    margin-top: 1.2rem;

    font-size: 14px;
    color: #8a8a8a;

}

.center-wrap .chat-item span.time{
    float: right;
    margin-right: 0.3rem;
    font-size: 12px;
    color: #8a8a8a;
}




.footer{
    position: absolute;
    width: 100%;
    height: 2.5rem;
    background-color: white;
    left: 0;
    bottom: 0;
    /*border-top: 0.05rem solid #cdcdcd;*/
}

/*.footer ul{*/
    /*width: 100%;*/
    /*overflow: hidden;*/
/*}*/

.footer ul li{
    float: left;
    width: 25%;
    text-align: center;
    height: 2.1rem;
    padding: 0.2rem 0;
}

.footer ul li a{
    display: block;
    width: 1.3rem ;
    height: 1.3rem;
    background: url("../images/msg.png") left top no-repeat;
    background-size: 1.3rem 1.3rem;
    margin: 0 auto ;
}

.footer ul li:nth-child(2) a{

    background: url("../images/mailList.png");
    background-size: 1.3rem 1.3rem;
}

.footer ul li:nth-child(3) a{
    background: url("../images/find.png");
    background-size: 1.3rem 1.3rem;
}

.footer ul li:nth-child(4) a{
    background: url("../images/me.png");
    background-size: 1.3rem 1.3rem;
}

.footer ul li span{
    display: block;
    margin-top: 0.2rem;
    color: #8a8a8a;
    font: 12px/0.8rem 'Microsoft Yahei';
}


/*
    发送信息页面
*/

.main-wrap .header .back{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 1.3rem;
    height: 1.3rem;
    background: url("../images/back.png") left top no-repeat;
    background-size: 1.3rem 1.3rem;

}

.chat-center-wrap{

    position: absolute;
    left: 0;
    right: 0;
    top: 2.5rem;
    bottom: 2.2rem;
    background-color: #efefef;
    overflow-x: hidden;
    overflow-y: auto;

}


.chat-input-con{
    width: 100%;
    position: absolute;
    height: 2.2rem;
    background-color: white;
    left: 0;
    bottom: 0;
    border-top: 0.05rem solid #cdcdcd;

}


.chat-input-con input{
    width: 80%;
    height: 1.3rem;
    border: 0.05rem solid #cdcdcd;
    border-radius: 0.25rem;
    float: left;
    margin-top: 0.4rem;
    margin-left: 0.5rem;
    outline: 0;
    font-size: 14px;

}

.chat-input-con .expression{
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    background: url("../images/expression.png");
    background-size: 1.3rem 1.3rem;
    float: left;
    margin-top: 0.4rem;
    margin-left: 0.5rem;
}