<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="shortcut icon" href="images/ico.png" type="image/x-icon"/>
    <title>大胖</title>
</head>
<body>

<div class="main-wrap">

    <div class="header">
        <h2>大胖</h2>
        <a href="" class="back"></a>
    </div>

    <div class="chat-center-wrap">
        <p>111</p>
        <p>111</p>
        <p>111</p>
        <p>111</p>
        <p>111</p>
        <p>111</p>
        <p>111</p>
        <p>111</p>
        <p>111</p>
        <p>111</p>
        <p>111</p>
        <p>111</p>
        <p>111</p>
        <p>111</p>

        <p>111</p>
        <p>111</p>
        <p>111</p>
        <p>111</p>
        <p>111</p>
        <p>111</p>
        <p>111</p>
        <p>111</p>
        <p>111</p>
        <p>111</p>
        <p>111</p>
        <p>111</p>
        <p>111</p>



    </div>

    <div class="chat-input-con">
        <input type="text" />
        <span class="expression"></span>
    </div>

</div>



<script type="text/javascript" src="js/set_root.js"></script>
<script type="text/javascript" src="js/webChat.js"></script>
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>

</body>
</html>