<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/webChat.js"></script>
    <script type="text/javascript" src="js/set_root.js"></script>
    <link rel="stylesheet" href="css/dialog.css">
    <script type="text/javascript" src="js/zepto.min.js"></script>
    <script type="text/javascript" src="js/dialog.min.js"></script>
    <title>聊天室</title>

    <script>

    </script>


</head>
<body>
<div class="main-wrap">

    <div class="header">
        <h2>聊天室</h2>
        <a href="" class="add"></a>
    </div>

    <div class="center-wrap">
        <div class="search" id="search">
            <input type="search" name="search" />
            <label for="search"><span class="search-icon"></span>搜索</label>
        </div>

        <div class="chat-item clearfix">
                <img src="./images/359.jpg" alt="">
                <div class="item clearfix">
                    <h3>大胖</h3>
                    <span class="msg">message</span>
                    <span class="time">09:12</span>

                </div>


        </div>

        <div class="chat-item clearfix">
                <img src="./images/359.jpg" alt="">
                <div class="item clearfix">
                    <h3>大胖</h3>
                    <span class="msg">message</span>
                    <span class="time">09:12</span>

                </div>


        </div>

        <div class="chat-item clearfix">
                <img src="./images/359.jpg" alt="">
                <div class="item clearfix">
                    <h3>大胖</h3>
                    <span class="msg">message</span>
                    <span class="time">09:12</span>

                </div>


        </div>

        <div class="chat-item clearfix">
                <img src="./images/359.jpg" alt="">
                <div class="item clearfix">
                    <h3>大胖</h3>
                    <span class="msg">message</span>
                    <span class="time">09:12</span>

                </div>


        </div>

        <div class="chat-item clearfix">
                <img src="./images/359.jpg" alt="">
                <div class="item clearfix">
                    <h3>大胖</h3>
                    <span class="msg">message</span>
                    <span class="time">09:12</span>

                </div>


        </div>

        <div class="chat-item clearfix">
                <img src="./images/359.jpg" alt="">
                <div class="item clearfix">
                    <h3>大胖</h3>
                    <span class="msg">message</span>
                    <span class="time">09:12</span>

                </div>


        </div>

        <div class="chat-item clearfix">
                <img src="./images/359.jpg" alt="">
                <div class="item clearfix">
                    <h3>大胖</h3>
                    <span class="msg">message</span>
                    <span class="time">09:12</span>

                </div>


        </div>

        <div class="chat-item clearfix">
                <img src="./images/359.jpg" alt="">
                <div class="item clearfix">
                    <h3>大胖</h3>
                    <span class="msg">message</span>
                    <span class="time">09:12</span>

                </div>


        </div>

        <div class="chat-item clearfix">
                <img src="./images/359.jpg" alt="">
                <div class="item clearfix">
                    <h3>大胖</h3>
                    <span class="msg">message</span>
                    <span class="time">09:12</span>

                </div>


        </div>

        <div class="chat-item clearfix">
                <img src="./images/359.jpg" alt="">
                <div class="item clearfix">
                    <h3>大胖</h3>
                    <span class="msg">message</span>
                    <span class="time">09:12</span>

                </div>


        </div>

        <div class="chat-item clearfix">
                <img src="./images/359.jpg" alt="">
                <div class="item clearfix">
                    <h3>大胖</h3>
                    <span class="msg">message</span>
                    <span class="time">09:12</span>

                </div>


        </div>

        <div class="chat-item clearfix">
                <img src="./images/359.jpg" alt="">
                <div class="item clearfix">
                    <h3>大胖</h3>
                    <span class="msg">message</span>
                    <span class="time">09:12</span>

                </div>


        </div>


    </div>

    <div class="footer">
        <ul class="clearfix">
            <li ><a href=""></a><span>信息</span></li>
            <li ><a href=""></a><span>通讯录</span></li>
            <li ><a href=""></a><span>发现</span></li>
            <li ><a href=""></a><span>我</span></li>
        </ul>
    </div>



    <div class="login-wrap">
        <div class="login-con">
            <input type="text" placeholder="用户名" name="username" id="username">
            <input type="password" placeholder="密码" name="password" id="password">
            <input type="submit" value="登陆" class="login-btn" id="login-btn">
        </div>
            

        <div class="mask"></div>
    </div>

</div>





</body>
</html>